@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.active {
  border: 2px solid #e63946;
  background: #e63946;
  color: #f1faee;
  border-radius: 6px;
  padding: 6px 12px;
}
.menu {
  width: 56px;
  height: 56px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", " sans-serif";
}
.heroImg {
  border-radius: 30% 70% 55% 45% / 57% 39% 61% 43%;
}
.heroItems {
  border-radius: 73% 27% 40% 60% / 54% 39% 61% 46%;
}
